<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Chapter 1</title>
  <head>
  <body>
    <div class="container">
      <!-- <div class="container" style="font-family:courier;"> -->
      <div class="jumbotron">
        <h1>{{> header}}</h1>
<form action="/quiz1ans" method="POST">
  <!-- #Q1 -->
        <div class="row">
            <div class="col">
              <p><h6>1. Given the information below, what will be printed?</h6></p>
              <div>
                <code>
                <p>{{v0_0}}</p>
                <p>{{v0_1}}</p>
                <p>{{v0_2}}</p>
                <p>{{v0_3}}</p>
                <p>{{v0_4}}</p>
                <p>{{v0_5}}</p>
                <p>{{v0_6}}</p>
                <p>{{v0_7}}</p>
                <p>{{prt0}}</p></code>
              </div>
            </div>
            <div class="col">
              <p></p>
              <p>Enter answer below:</p>
              <input type="text" name="ans0" value="" size = "35" >
              <!-- <p>{{ansJava0}}</p> -->
            </div>
        </div>
  <!-- #Q2 -->
        <div class="row">
          <div class="col">
            <p><h6>2. Given the information below, what will be printed?</h6></p>
            <code>
            <p>{{v1_0}}</p>
            <p>{{v1_1}}</p>
            <p>{{v1_2}}</p>
            <p>{{v1_3}}</p>
            <p>{{v1_4}}</p>
            <p>{{v1_5}}</p>
            <p>{{v1_6}}</p>
            <p>{{v1_7}}</p>
            <p>{{prt1}}</p></code>
          </div>
          <div class="col">
            <p></p>
            <p>Enter answer below:</p>
            <input type="text" name="ans1" value="" size = "35">
            <!-- <p>{{ansJava1}}</p> -->
          </div>
        </div>
  <!-- #Q3 -->
        <div class="row">
          <div class="col">
            <p><h6>3. Given the information below, what will be printed?</h6></p>
            <code>
            <p>{{v2_0}}</p>
            <p>{{v2_1}}</p>
            <p>{{v2_2}}</p>
            <p>{{v2_3}}</p>
            <p>{{v2_4}}</p>
            <p>{{v2_5}}</p>
            <p>{{v2_6}}</p>
            <p>{{v2_7}}</p>
            <p>{{prt2}}</p></code>
          </div>
          <div class="col">
            <p></p>
            <p>Enter answer below:</p>
            <input type="text" name="ans2" value="" size = "35">
            <!-- <p>{{ansJava2}}</p> -->
          </div>
        </div>
  <!-- #Q4 -->
        <div class="row">
          <div class="col">
            <p><h6>4. Given the information below, what will be printed?</h6></p>
            <code>
            <p>{{v3_0}}</p>
            <p>{{v3_1}}</p>
            <p>{{v3_2}}</p>
            <p>{{v3_3}}</p>
            <p>{{v3_4}}</p>
            <p>{{v3_5}}</p>
            <p>{{v3_6}}</p>
            <p>{{v3_7}}</p>
            <p>{{prt3}}</p></code>
          </div>
          <div class="col">
            <p></p>
            <p>Enter answer below:</p>
            <input type="text" name="ans3" value="" size = "35">
            <!-- <p>{{ansJava3}}</p> -->
          </div>
        </div>
  <!-- #Q5 -->
        <div class="row">
          <div class="col">
            <p><h6>5. Given the information below, what will be printed?</h6></p>
            <code>
            <p>{{v4_0}}</p>
            <p>{{v4_1}}</p>
            <p>{{v4_2}}</p>
            <p>{{v4_3}}</p>
            <p>{{v4_4}}</p>
            <p>{{v4_5}}</p>
            <p>{{v4_6}}</p>
            <p>{{v4_7}}</p>
            <p>{{prt4}}</p></code>
          </div>
          <div class="col">
            <p></p>
            <p>Enter answer below:</p>
            <input type="text" name="ans4" value="" size = "35">
            <!-- <p>{{ansJava4}}</p> -->
          </div>
        </div>
  <!-- #Q6 -->
        <div class="row">
          <div class="col">
            <p><h6>6. Given the information below, what will be printed?</h6></p>
            <code>
            <p>{{v5_0}}</p>
            <p>{{v5_1}}</p>
            <p>{{v5_2}}</p>
            <p>{{v5_3}}</p>
            <p>{{v5_4}}</p>
            <p>{{v5_5}}</p>
            <p>{{v5_6}}</p>
            <p>{{v5_7}}</p>
            <p>{{prt5}}</p></code>
          </div>
          <div class="col">
            <p></p>
            <p>Enter answer below:</p>
            <input type="text" name="ans5" value="" size = "35">
            <!-- <p>{{ansJava5}}</p> -->
          </div>
        </div>

  <!-- #Q7 -->
        <div class="row">
          <div class="col">
            <p><h6>7. Given the information below, what will be printed?</h6></p>
            <code>
            <p>{{v6_0}}</p>
            <p>{{v6_1}}</p>
            <p>{{v6_2}}</p>
            <p>{{v6_3}}</p>
            <p>{{v6_4}}</p>
            <p>{{v6_5}}</p>
            <p>{{v6_6}}</p>
            <p>{{v6_7}}</p>
            <p>{{prt6}}</p></code>
          </div>
          <div class="col">
            <p></p>
            <p>Enter answer below:</p>
            <input type="text" name="ans6" value="" size = "35">
            <!-- <p>{{ansJava6}}</p> -->
          </div>
        </div>

<!-- #Q8 -->
      <div class="row">
        <div class="col">
          <p><h6>8. Given the information below, what will be printed?</h6></p>
          <code>
          <p>{{v7_0}}</p>
          <p>{{v7_1}}</p>
          <p>{{v7_2}}</p>
          <p>{{v7_3}}</p>
          <p>{{v7_4}}</p>
          <p>{{v7_5}}</p>
          <p>{{v7_6}}</p>
          <p>{{v7_7}}</p>
          <p>{{prt7}}</p></code>
        </div>
        <div class="col">
          <p></p>
          <p>Enter answer below:</p>
          <input type="text" name="ans7" value="" size = "35">
          <!-- <p>{{ansJava7}}</p> -->
        </div>
      </div>

<!-- #Q9 -->
      <div class="row">
        <div class="col">
          <p><h6>9. Given the information below, what will be printed?</h6></p>
          <code>
          <p>{{v8_0}}</p>
          <p>{{v8_1}}</p>
          <p>{{v8_2}}</p>
          <p>{{v8_3}}</p>
          <p>{{v8_4}}</p>
          <p>{{v8_5}}</p>
          <p>{{v8_6}}</p>
          <p>{{v8_7}}</p>
          <p>{{prt8}}</p></code>
        </div>
        <div class="col">
          <p></p>
          <p>Enter answer below:</p>
          <input type="text" name="ans8" value="" size = "35">
          <!-- <p>{{ansJava8}}</p> -->
        </div>
      </div>

<!-- #Q10 -->
      <div class="row">
        <div class="col">
          <p><h6>10. Given the information below, what will be printed?</h6></p>
          <code>
          <p>{{v9_0}}</p>
          <p>{{v9_1}}</p>
          <p>{{v9_2}}</p>
          <p>{{v9_3}}</p>
          <p>{{v9_4}}</p>
          <p>{{v9_5}}</p>
          <p>{{v9_6}}</p>
          <p>{{v9_7}}</p>
          <p>{{prt9}}</p></code>
        </div>
        <div class="col">
          <p></p>
          <p>Enter answer below:</p>
          <input type="text" name="ans9" value="" size = "35">
          <p></p>
          <input type="submit" class="btn btn-primary" name="submit" value="Submitted Answers">
          <!-- <p>{{ansJava9}}</p> -->
        </div>
      </div>


  </form>
  <!-- <p><h6>Score : {{tscore}} of {{ntest}}</h6></p> -->
      </div>
        {{> footer}}
    </div>
    <!-- =========================== Script ============================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
